{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
    <img src="{{ STATIC_URL }}img/dpb-logo.png" />
    <div class="back-link">
        <a href="/">Все статьи</a>
    </div>
</div>
    <div class="article-content">
        <h1>{{ post.title }}</h1>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <div class="article-text">{{ post.text }}</div>
    </div>
</body>
</html>