{% load static %}
<!doctype html>
<html>

<head>
  <title>Архив всех статей</title>
  <link rel="stylesheet" href="{% static 'css/article.css' %}" />
</head>

<body class="archive">
  <div class="header">
    <div class="header-left">
      <img src="{{ STATIC_URL }}img/dpb-logo.png" />
    </div>
    <div class="header-right">
      {% if user.is_authenticated %}
      <span>Привет, {{ user.username }}!</span>
      <a href="/logout/">Выйти</a>
      {% else %}
      <a href="/register/">Регистрация</a>
      <a href="/login/">Вход</a>
      {% endif %}
      <a href="/article/new/">Новая статья</a>
      <a href="/">Все статьи</a>
    </div>
  </div>
  <div class="archive">
    {% for post in posts %}
    <div class="one-post">
      <div class="post-header">
        <h2 class="post-title">
          <a href="/article/{{ post.id }}/">{{ post.title }}</a>
        </h2>
        <button class="fold-button">свернуть</button>
      </div>
      <div class="article-info">
        <div class="article-author">{{ post.author.username }}</div>
        <div class="article-created-date">{{ post.created_date }}</div>
      </div>
      <p class="article-text">{{ post.get_excerpt }}</p>
      <div class="one-post-shadow"></div>
    </div>
    {% endfor %}
  </div>
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/helloworld.js"></script>
  <script src="{{ STATIC_URL }}js/fold-post.js"></script>
  <script src="{{ STATIC_URL }}js/highlight-post.js"></script>
</body>
</body>

</html>