{% load static %}
<!DOCTYPE html>
<head>
    <title>Django Public Blog - создать статью</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="create">
    <div class="header">
        <div class="header-left">
            <img src="{{ STATIC_URL }}img/dpb-logo.png" />
        </div>
        <div class="header-right">
            <a href="/">Все статьи</a>
        </div>
    </div>
    <div class="content">
        <h1>Написать статью</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
            <textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
            <input type="submit" value="Сохранить">
        </form>
        {% if form.errors %}
            <div class="error">{{ form.errors }}</div>
        {% endif %}
    </div>
</body>