{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="login">
    <div class="header">
        <div class="header-left">
            <img src="{{ STATIC_URL }}img/dpb-logo.png" />
        </div>
        <div class="header-right">
            <a href="/">Все статьи</a>
            <a href="/register/">Регистрация</a>
        </div>
    </div>
    <div class="content">
        <h1>Вход</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" value="Войти">
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div class="register-link">
            Нет аккаунта? <a href="/register/">Зарегистрируйтесь</a>
        </div>
    </div>
</body>
</html>