{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="register">
    <div class="header">
        <div class="header-left">
            <img src="{{ STATIC_URL }}img/dpb-logo.png" />
        </div>
        <div class="header-right">
            <a href="/">Все статьи</a>
            <a href="/login/">Вход</a>
        </div>
    </div>
    <div class="content">
        <h1>Регистрация</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя" value="{{ form.username }}">
            <input type="email" name="email" placeholder="Email" value="{{ form.email }}">
            <input type="password" name="password" placeholder="Пароль">
            <input type="password" name="password2" placeholder="Подтверждение пароля">
            <input type="submit" value="Зарегистрироваться">
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div class="login-link">
            Уже есть аккаунт? <a href="/login/">Войдите</a>
        </div>
    </div>
</body>
</html>